{% extends "base.html" %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<form action="" method="post" class="m-3">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Request OTP" class="btn btn-primary btn-sm" >
</form>


  
{% endblock content %}