{% extends "base.html" %}


{% block title %}
    Shopkart Signin
{% endblock title %}



{% block content %}
<div style="width: 30%;margin:auto;" class="shadow p-3 my-3">
    <h3 class="m-2 text-primary ">Sign In Form</h3>

    <form action="" method="post">
        {% csrf_token %}

        {{form}}

        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>

    <div class="mt-3">
        <a href="{% url 'forgot_password' %}" >Forgot Password?</a><br>
        <a href="{% url 'signup' %}" >Create a new Account?</a>
    </div>
  

</div>


{% endblock content %}