{% extends "base.html" %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <label for="">Enter Otp :</label>
    <input type="text" name="otp" placeholder="enter 6 digit OTP" required>
    <input type="submit" value="Verify OTP" class="btn btn-primary btn-sm">
</form>



{% endblock content %}

